<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="dns-prefetch" href="//www.google-analytics.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Front-end development articles and information. HTML, CSS, Javascript, jQuery and some PHP.">
		<link href="/style.css" rel="stylesheet">

		<!--[if lte IE 8]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
		<![endif]-->
    </head>
    <body>

        <header class="header">

            <div class="logo">
                <img src="/img/logo.svg" class="logo-img" alt="Logo">
            </div>

            <nav class="nav">
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="/about.html">About</a>
                <a class="nav-item" href="/contact.html">Contact</a>
            </nav>
        </header>

        <section class="content">
        {{ content }}
        </section>

        <script>
            // Google Analytics
            var _gaq=[['_setAccount','UA-27220940-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)})(document,'script');
        </script>
    </body>
</html>
