<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="dns-prefetch" href="//www.google-analytics.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Front-end development articles and information. HTML, CSS, Javascript, jQuery and some PHP.">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href="/style.css" rel="stylesheet">
        <script src="/js/css3-mediaqueries.min.js"></script>

		<!--[if lte IE 8]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
		<![endif]-->
    </head>
    <body>

        <header class="sidebar">
            <div class="logo">Michael Pallister <span class="logo-sub">Web Developer</span></div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item nav-item-home"><a href="/">Home</a></li>
                    <li class="nav-item nav-item-about"><a href="/about">About</a></li>
                    <li class="nav-item nav-item-contact"><a href="/contact">Contact</a></li>
                    <li class="nav-item nav-item-twitter"><a href="https://twitter.com/micppp">Twitter</a></li>
                    <li class="nav-item nav-item-linkedin"><a href="http://www.linkedin.com/in/micpuk">LinkedIn</a></li>
                    <li class="nav-item nav-item-rss"><a href="/feed.xml">RSS</a></li>
                </ul>
            </nav>
        </header>

        <section class="content">
        {{ content }}
        </section>

        <script src="/js/scripts.js"></script>
        <script>
            // Google Analytics
            var _gaq=[['_setAccount','UA-27220940-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)})(document,'script');
        </script>
    </body>
</html>
